doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        // Configuración del viewport en dispositivos móviles
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Título de la página
        title Real State &lt;220192&gt; | #{page}

        // Enlace a la hoja de estilos CSS
        link(rel="stylesheet", href="/css/app.css", type='text/css')
        block styles

    // Inicio del cuerpo del documento con clases CSS
    body.min-h-screen.bg-white
        if showHeader
            include nav-bar
        // Contenido principal
        main(class="mx-auto container mt-5 px-2 ")
            block content
        block scripts
