doctype html
html(lang="en")
    head

        meta(charset="UTF-8")

        // Configuración del viewport en dispositivos móviles
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // Título de la página
        title Real State &lt;220192&gt; | #{page}

        // Enlace a la hoja de estilos CSS
        link(rel="stylesheet", href="/css/app.css")

    // Inicio del cuerpo del documento con clases CSS
    body.min-h-screen.bg-white

        // Contenido principal
        main(class="mx-auto container px-2 ")
            block content
