header(class="bg-teal p-4")
    div(class="conatiner flex mx-auto justify-between")
        h1(class="text-black font-extrabold text-center text-2xl") Real
            span(class="font-normal text-white") Estate
        nav(class="flex gap-3 my-5 text-sm md:flex md:items-center font-bold text-white")
            a(href="#" class="bg-cream text-black py-2 px-10 rounded-full hover:bg-rosa hover:scale-105 shadow shadow-gray-600 active:scale-95") Properties 
            a(href="#" class="bg-cream text-black py-2 px-10 rounded-full hover:bg-rosa hover:scale-105 shadow shadow-gray-600 active:scale-95") Profile
            a(href="#" class="bg-cream text-black py-2 px-10 rounded-full hover:bg-rosa hover:scale-105 shadow shadow-gray-600 active:scale-95") Logout